.accardion__section {
    margin-top: 200px;
}
.accordion dd,
.accordion__panel {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 0 4em 0 13em;
}
.accordion p:last-child {
    padding-bottom: 1em;
}

.accordion {
  /* position: relative; */
  /* background-color: #fff; */
  background-color:transparent;
}
.accordion__link {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
    top: 18px;
    

}
.accardion__link-title {
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #F6AC02;
    padding-right: 60px;
    top: -49px;
    z-index: -5;
}
.accardion__link-subtitle {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    max-width: 780px;
    left: 170px;
    top: -42px;
    z-index: -5;
}

.accordionTitle,
.accordion__Heading {
    position: relative;
    /* background-color: #fff; */
    padding: 3em;
    display: block;
    text-decoration: none;
    color: #444444;
    transition: background-color 0.5s ease-in-out;
    border-top: 1px solid #A3A1A1;
}
.accordionTitle::after,
.accordion__Heading::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 27px;
    background-image: url(./../img/Vector.svg);
    width: 30px;
    height: 30px;
    float: right;
    transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: transparent;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  /* background-color: #fff; */
}
.accordionTitleActive:after,
.accordionTitle.is-expanded:after {
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 500em;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 200em;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}