.articles__section {
    margin-top: 200px;
}

.container {

}
.articles__section-title {
    /* display: flex; */
}
.articles__wrapper {
    display: flex;
    justify-content: space-between;

}
.articles__column {
    display: flex;
    flex-direction: column;
    max-width: 380px;
}
@media (max-width: 1090px) {
    .articles__column {
        max-width: 300px;
    }
}
.articles__img {
    max-width: 380px;
}
.articles__column-title {
    font-size: 16px;
    line-height: 1.3;
    color: #000000;
    margin: 20px 0;
    min-height: 42px;
}
.articles__column-autor,
.articles__column-datу {
    color: #828282;
}
.articles__column-link {
    position: relative;
    color: #4B4B4B;
    margin-top: 18px;
    transition: color 0.3s ease-in;
    max-width: 85px;
}
.articles__column-link::before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: #FEBD29;
    transition: all 0.3s;
}
.articles__column-link:hover {
    color: #FEBD29;
}
.articles__column-link:hover::before {
    width: 100%;
    left: 0;
    background: #FEBD29;
}

@media (max-width: 768px) {
    .articles__wrapper {
        display: flex;
        justify-content: center;
    }
    .articles__column {
        max-width: 220px;
        margin: 0 5px;
    }
    .articles__img {
        max-width: 220px;
    }
    .articles__column-title {
        min-height: 60px;
    }
    li:before {
        position: static;
    }
    .slick-dots li.slick-active button:before {
        opacity: .99;
        color: #FEBD29 !important;
    }
}

@media (max-width: 568px) {
    .articles__column {
        max-width: 100%;
        margin: 0;
    }
    .articles__img {
        max-width: 100%;
    }
}
