.block__intro {
    margin-top: 200px;
}
@media (max-width: 1090px) {
    .block__intro {
      margin-top: 180px;
  }
}
@media (max-width: 768px) {
    .block__intro {
      margin-top: 160px;
  }
}
.intro__wrapper {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 810px) {
    .intro__wrapper {
      flex-direction: column;
  }
}
.intro__example {
    display: flex;
    justify-content: space-between;
    width: 626px;
}
@media (max-width: 1090px) {
    .intro__example {
        max-width: 468px;
    }
}
@media (max-width: 810px) {
    .intro__example {
        display: flex;
        justify-content: space-between;
        max-width: 680px;
        margin-bottom: 50px;
        order: 2;
    }
}
@media (max-width: 540px) {
    .intro__example {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-bottom: 50px;
        order: 2;
    }
}
.intro__example-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
}
@media (max-width: 1090px) {
    .intro__example-column {
        max-width: 180px;
    }
}
@media (max-width: 768px) {
    .intro__example-column {
        max-width: 280px;
    }
}
.intro__example-column span {
    margin-bottom: 16px;
}
.example__img {
    max-width: 200px;
}
@media (max-width: 768px) {
    .example__img {
        max-width: 220px;
    }
}
.intro__example-user {
    margin-top: 23px;
    margin-bottom: 12px;
}
.intro__example-text--bold {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #4B4B4B;
    margin-top: 8px;
}
.intro__content {
    margin-top: 35px;
    max-width: 480px;
}

@media (max-width: 1090px) {
    .intro__content {
        margin-top: 35px;
        max-width: 405px;
    }
}
@media (max-width: 810px) {
    .intro__content {
        max-width: 680px;
        order: 1;
    }
}
@media (max-width: 750px) {
    .intro__content {
        max-width: auto;
        order: 1;
    }
}
.intro_btn-hiden {
    display: none;
}
@media (max-width: 810px) {
    .intro_btn {
        display: none;
    }
    .intro_btn-hiden {
        display: block;
        margin: auto;
        order: 3;
    }
}
.intro__title {
    margin-bottom: 20px;
}
.intro__text {
    margin-bottom: 55px;
}
@media (max-width: 810px) {
    .intro__text {
        width: 100%;
    }
}

.exampe_two {
    position: relative;
}

.exampe_two::before {
    position: absolute;
    content: "";
    display: block;
    bottom: 185px;
    left: -95px;
    width: 122px;
    height: 31px;
    background-image:url(./../img/example__img/arrow_down.svg);
}
@media (max-width: 1090px) {
    .exampe_two::before {
        left: -115px;
        bottom: 295px;
    }
}
@media (max-width: 810px) {
    .exampe_two::before {
        left: -185px;
        bottom: 295px;
    }
}
@media (max-width: 768px) {
    .exampe_two::before {
        left: -96px;
        bottom: 190px;
    }
}
.exampe_two::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 185px;
    top: 35px;
    left: -95px;
    width: 122px;
    height: 31px;
    background-image:url(./../img/example__img/arrow_up.svg);
}
@media (max-width: 1090px) {
    .exampe_two::after {
        left: -115px;
    }
}
@media (max-width: 810px) {
    .exampe_two::after {
        left: -185px;
    }
}
@media (max-width: 768px) {
    .exampe_two::after {
        left: -96px;
    }
}
@media (max-width: 750px) {
    .exampe_two::after,
    .exampe_two::before {
        display: none;
    }
}