.block__intro {
    margin-top: 200px;
}
.intro__wrapper {
    display: flex;
    justify-content: space-between;
}
.intro__example {
    display: flex;
    justify-content: space-between;
    width: 626px;
}
.intro__example-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
}
.intro__example-column span {
    margin-bottom: 16px;
}
.example__img {
    max-width: 220px;
}
.intro__example-user {
    margin-top: 23px;
    margin-bottom: 12px;
}
.intro__example-text--bold {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #4B4B4B;
    margin-top: 8px;
}
.intro__content {
    margin-top: 35px;
    max-width: 480px;
}
.intro__title {
    margin-bottom: 20px;
}
.intro__text {
    margin-bottom: 55px;
}

.exampe_two {
    position: relative;
}

.exampe_two::before {
    position: absolute;
    content: "";
    display: block;
    bottom: 185px;
    left: -95px;
    width: 122px;
    height: 31px;
    background-image:url(./../img/example__img/arrow_down.svg);
}
.exampe_two::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 185px;
    top: 35px;
    left: -95px;
    width: 122px;
    height: 31px;
    background-image:url(./../img/example__img/arrow_up.svg);
}