.skills__section {
    margin-top: 200px;
}
.skills__wrapper {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .skills__wrapper {
        flex-direction: column;
    }
}
.skills__content,
.skills__block-img {
    max-width: 481px;
}
@media (max-width: 768px) {
    .skills__block-img {
    margin: auto;
    }
}
@media (max-width: 768px) {
    .skills__content {
    max-width: 100%;
    }
}

.skills__block-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
@media (max-width: 1027px) {
    .skills__block-img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
        padding-top: 28px;
    }
}
@media (max-width: 768px) {
    .skills__block-img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
        padding-top: 28px;
    }
}

.skills__content-text li {
    position: relative;
    margin-bottom: 14px;
}
li:before {
    position: absolute;
    content: "";
    left: -35px;
    top: 8px;
    width: 15px;
    border-top: 2px solid #FEBD29;
}

/* ----- flip block------- */

.flip-card {
    background-color: transparent;
    width: 120px;
    height: 120px;
    perspective: 1000px; 
  }
  img{
      width: 120px;
      height: 120px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:not(.flip-card_flipped):hover .flip-card-inner,
  .flip-card_flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  
  .flip-card-front, .flip-card-back-1,
  .flip-card-back-2, .flip-card-back-3,
  .flip-card-back-4, .flip-card-back-5,
  .flip-card-back-6{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    background-color: #FEBD29;
    border-radius: 50%;
  }
  
  
  .flip-card-back-1 {
    background-image: url(./../img/skills_img/img1.jpg);
    transform: rotateY(180deg);
  }
  .flip-card-back-2 {
    background-image: url(./../img/skills_img/img2.jpg);
    transform: rotateY(180deg);
  }
  .flip-card-back-3 {
    background-image: url(./../img/skills_img/img3.jpg);
    transform: rotateY(180deg);
  }
  .flip-card-back-4 {
    background-image: url(./../img/skills_img/img4.jpg);
    transform: rotateY(180deg);
  }
  .flip-card-back-5 {
    background-image: url(./../img/skills_img/img5.jpg);
    transform: rotateY(180deg);
  }
  .flip-card-back-6 {
    background-image: url(./../img/skills_img/img6.jpg);
    transform: rotateY(180deg);
  }